@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: $dark-blue; 
    // color: $grayish-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.8rem;
}